:checked + img {
    font-weight: bold;
    background-color : #486581;
    box-shadow : '0 0 0 0.1rem rgb(130, 138, 145,.5)';
}

.itemFilter {
    display: none;
}

.my-btn {
    display: inline-block;
    font-weight: 400;
    color: #BCCCDC;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #627d98;
    height: 50px;
}

.filterImg {
    border-radius: .25rem;
    background-color: #BCCCDC;
    width: 100%;
}

.itemContainer {
    min-width:15rem;
    max-width:17.5rem;
}